/* Menu */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 332px;
height: 844px;

Background: #FFFFFF;


/* Header navigation */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 12px 20px;
gap: 10px;

width: 332px;
height: 72px;

border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;

width: 292px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Nav menu button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 40px;
height: 40px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* x-close

x, close, exit, remove, cross, delete
*/

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

background: #1E232E;


/* Frame 1000003360 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 24px 20px 32px;

width: 332px;
height: 772px;

border-top: 1px solid #E9EDF2;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Navigation */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

margin: 0 auto;
width: 292px;
height: 184px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 20px;

width: 292px;
height: 56px;
min-height: 56px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* arrow-circle-left

arrow, circle, left
*/

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 46px;
height: 24px;

/* Paragraph/Medium/Paragraph */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #1E232E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* chevron-right

chevron, right
*/

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 14px 20px;
gap: 8px;

width: 292px;
height: 56px;
min-height: 56px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* arrow-circle-left

arrow, circle, left
*/

margin: 0 auto;
display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

margin: 0 auto;
width: 96px;
height: 24px;

/* Paragraph/Medium/Paragraph */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #1E232E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* chevron-right

chevron, right
*/

margin: 0 auto;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Icon */

position: absolute;
left: 37.5%;
right: 29.17%;
top: 20.83%;
bottom: 20.83%;

background: #1E232E;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 20px;

width: 292px;
height: 56px;
min-height: 56px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* arrow-circle-left

arrow, circle, left
*/

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 107px;
height: 24px;

/* Paragraph/Medium/Paragraph */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #1E232E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* chevron-right

chevron, right
*/

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 1618873679 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

margin: 0 auto;
width: 292px;
height: 108px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Social icons */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 20px;

width: 292px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Social icon */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 4.17%;
right: 0.08%;
top: 4.17%;
bottom: 4.17%;

background: #0A46EA;


/* Social icon */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #0A46EA;


/* Social icon */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0.61%;

background: #0A46EA;


/* Social icon */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Icon */

position: absolute;
left: 0.96%;
right: 0.96%;
top: 0.72%;
bottom: 0.72%;

background: #0A46EA;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 20px;
gap: 8px;

width: 292px;
height: 56px;
min-height: 56px;

background: #0A46EA;
border: 1px solid #0A46EA;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* arrow-circle-left

arrow, circle, left
*/

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 102px;
height: 24px;

/* Paragraph/Medium/Paragraph */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* arrow-circle-right

arrow, circle, right
*/

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
